@font-face {
    font-family: 'Sun Valley - Demo';
    src: url('SunValley.woff2') format('woff2'),
        url('SunValley.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

